[2018-04-27 03:26] freekatet opened #1 "contrast"
Hi!
I have been using your asset successfuly on osx 10.13.2 unity 2018.1.0b11
tho i noticed that the stream was way much more contrasted on the syphon client side than the original stream. Is it something you experience too on your side ?

thanks!
<img width="697" alt="screen shot 2018-04-26 at 8 26 07 pm" src="https://user-images.githubusercontent.com/2891340/39343123-193510ce-4990-11e8-90b8-098f

[2018-04-27 04:41] keijiro commented on #1
At the moment, it gives wrong luminance because I haven't implemented proper color space conversion. Please note that this plugin is still under an experimental phase and not ready for practical use. I'll look into it after fixing more important stuff.

[2018-04-27 16:13] keijiro commented on #1
Fixed in the recent version.

[2018-04-27 16:13] #1 closed, assigned to keijiro

[2018-04-30 17:15] freekatet opened #2 "syphonclient crashes unity 2018.1.0b11"
Hi,
the Syphon client script coming with the release is crashing unity on osx 10.13.2.
I tried on fresh project, same behavior.

I am using a master version prior to the release with no crashes

[2018-05-01 01:29] keijiro commented on #2
Please check if you're actually using the latest version (v0.0.2). The previous version (v0.0.1) has the problem about client, and I fixed it in v0.0.2.

[2018-05-01 02:43] freekatet commented on #2
This is version 0.0.2
importing a syphon client in a fresh project doesn't crash.
using the new version in a project crash, after taking off every syphon scripts and reinserting them no crash anymore.

I also realized that the old server master version (April 27th) with resolution typed manually in the script were more efficient than the release version. 50 fps vs 30/25fps for the same project at

[2018-05-01 03:07] keijiro commented on #2
This is not a problem about Syphon but the rendering resolution. You can improve the performance by decreasing the resolution of the game view by manually setting the resolution from the dropdown menu in the top-left of the game view, or you can use the render texture mode to implicitly set the resolution (this is the most performant way to use the plugin; see the example project for details).

[2018-05-01 03:11] keijiro commented on #2
Does it means that the problem has gone and you don't have the problem anymore? I wonder if there is a problem only when updating from the previous implementation.

[2018-06-24 14:56] lukasIO opened #3 "[Question] How to get it to work with OpenGL core?"
Hi,

I realise this is a bit of a weird question, but the problem I'm having is that Unity seems to only work with a single display on Metal API as of now. With the OpenGL API I can use multiple displays...
Do you have any idea for a workaround to get syphon and multiple displays at the same time? Or could you share some insight in how to make syphon work for OpenGL ?

Thanks!

[2018-06-25 01:53] keijiro commented on #3
- If Unity on Metal has an issue with multiple displays, it should be fixed. Have you already reported it?
- I'm not very motivated to reimplement the plugin for OpenGL because Apple announced they're going to deprecate it in the coming version of macOS.

[2018-06-25 14:21] lukasIO commented on #3
Yes. I reported it, but didn't hear back from the Unity Team.

The lack of motiviation to reimplement it for a deprecated Graphics API is completely understandable, I was naively hoping it could be wrapped or ported to OpenGL in a rather easy way...

[2018-07-11 00:27] caetanobr opened #4 "Klaksyphon send blank image"
Hi,
I added klak to the main camera but the syphon signal its sends its blank. Tryied on Arena and also to simpleclient from Syphon website...same results
using Unity 2018..

Any advice is much apreciatted

Thnks!

[2018-07-11 01:29] keijiro commented on #4
KlakSyphon only supports Metal. Please check if Unity is running in Metal mode.

[2018-07-11 03:54] caetanobr commented on #4
yep. Its seens I was running it out in light mode for iOS. Now its running smooth. Thanks for your reply.
Awesome work by the way!

Cheers from Bahia-BR!

[2018-07-11 03:54] #4 closed, assigned to keijiro

[2018-08-06 08:19] ebleeye opened #5 "Unity2018.2.2f1 can't work?"
I'm using VDMX5 syphon output. I've tested with QC, and VDMX5 is sending successfully.

Then I open the Test Scene (Software already set to VDMX5), do nothing, Hit play, but nothing happened.

Do I need to do some more setup in unity? Or KlakSyphon just can't work with Unity2018.2.2f1?

[2018-08-06 08:57] keijiro commented on #2
I'm closing this ticket. Please feel free to reopen for further questions.

[2018-08-06 08:57] #2 closed, assigned to keijiro

[2018-08-06 09:01] keijiro commented on #5
Please check if Unity is running in Metal mode. See the title bar of Unity Editor -- it should include `<Metal>` tag. If it only has `<OpenGL>` tag, you should check if your device supports Metal.

[2018-08-09 00:17] keijiro commented on #5
I'm closing this issue. Please feel free to reopen for further questions.

[2018-08-09 00:17] #5 closed, assigned to keijiro

[2018-09-16 14:31] jieliou opened #6 "Can this package work in HDRP?"
Hi, I'm new to Unity and VJ.
I use Syphon in HDRP scene but it only showed up black result.
I'm wondering if this package have any possible work in HDRP?
Thanks a lot!

[2018-09-16 15:18] keijiro commented on #6
It only works in the render texture mode. Create a render texture, set it as Target Texture in the main camera, then set it as Source Texture in the Syphon Server component.

[2018-09-16 15:31] jieliou commented on #6
Thanks for quickly reply.
But I'm sorry that I'm so new to Unity. I'm not following up the "set it as Source Texture in the Syphon Server component." part. The Syphon Server component seems only Alpha Support option.
Thanks again for your reply.
![image](https://user-images.githubusercontent.com/43317676/45598097-a543f880-ba08-11e8-9f3e-44b6dbd48ff2.png)

[2018-09-17 01:59] keijiro commented on #6
Syphon Server works in camera capture mode when attached to a camera object. You have to attach the server to a non-camera object.

[2018-09-25 06:09] keijiro commented on #6
I'm closing this issue. Please feel free to reopen for further questions.

[2018-09-25 06:09] #6 closed, assigned to keijiro

[2018-10-08 08:24] vibber opened #7 "ParticleSystem and alpha problem"
Hi and thanks for this great package.
I encountered an issue. Steps to reproduce: Create new project, add particle system and add a cube, put syphon server on camera and enable alpha. Open Syphon Recorder (or another app that supports syphon with transparency e.g. madmapper) and there is a blank screen. Particle system does not show up but other game object displays fine.

I am on latest klaksypho

[2018-10-08 13:23] keijiro commented on #7
The default particle shader in Unity doesn't write to alpha. You can check it in the Scene view with changing it to Alpha Channel mode (from the drop-down menu in the upper left side of the window).

How about using the Standard Particle shader? Create a new material and change its shader to "Particles/Standard Surface".

[2018-10-08 19:16] makaruk opened #8 "metal:::g_Device error"
Hello,

thank You for this super useful package...

In Unity 2018.2.11f1 on Mac Os 10.13.2 High Sierra - when I try to use Klak Syphon by putting Syphon Server (Script) from the RUntime folder onto a Main Camera object I get the following errors:

Assertion failed on expression: 'metal::g_Device'
Klak.Syphon.SyphonServer:Plugin_CreateServer(String, Int32, Int32)
Klak.Syphon.SyphonServer:Update() (

[2018-10-09 00:39] keijiro commented on #8
Thanks for reporting.

First of all, could you check if Unity is running on Metal? Please see the title bar of Unity Editor -- it should have `<Metal>` tag. If it only has `<OpenGL>` tag, your Mac device may not support Metal.

If you still have the same problem on a Metal-compatible device, please send the [Editor log](https://docs.unity3d.com/Manual/LogFiles.html). I'd like to investigate what's

[2018-10-09 08:26] makaruk commented on #8
Dear @keijiro
Thank You for Your response. Yes the Unity has the `<Metal>` in the title bar - now I'm testing on the Unity 2018.2.0b2, Mac OS 10.13.2

I managed to run Klak Syphon in a scene with no gameobjects, just the test Cube object - and it works fine on this version of unity. However in a more complex project I get the following error:

ArgumentNullException: Argument cannot be null.
Parame

[2018-10-09 12:49] nicoloserafino opened #9 "not working when built"
Is it normal that my app is not working when built?
Can't see the stream on mad mapper

[2018-10-10 00:47] keijiro commented on #9
Thanks for reporting. Could you send the Player log? I'd like to looking into it.

https://docs.unity3d.com/Manual/LogFiles.html

[2018-10-10 00:47] keijiro commented on #7
I'm closing this issue. Please feel free to reopen for further questions.

[2018-10-10 00:47] #7 closed, assigned to keijiro

[2018-10-10 03:31] keijiro commented on #8
Thanks for the additional information.

I guess you're trying to add the server component to a game object (like `AddComponent<SyphonServer>()`) at runtime. Unfortunately, it isn't supported in the previous versions for some reason.

I updated the plugin to support this situation. Could you try it and check if the problem is resolved?

https://github.com/keijiro/KlakSyphon/releases/tag/v0.0.3

[2018-10-10 04:47] keijiro commented on #9
Also you can try the latest update, not sure if it's relevant though.

https://github.com/keijiro/KlakSyphon/releases/tag/v0.0.3

[2018-10-10 08:56] makaruk commented on #8
Dear @keijiro

Thank You for this update - it does work now!! Although as a side note I was never trying to add the component at runtime - I always added it before I pressed "Play" in Unity.

Anyway it works in the Editor however I also report the same issue as in another of the threads of Klak Syphon - I cannot build the application.

Upon building I get the following errors:

`UriFormatException

[2018-10-10 09:59] keijiro commented on #8
This is just a wild guess but I think this error is not relevant to KlakSyphon. Could you check if it can reproduce without KlakSyphon?

[2018-10-10 10:34] makaruk commented on #8
You're right - when I removed Klak it still refuses to build - sorry to bother you with it.

[2018-10-10 12:03] keijiro commented on #8
No problem. Thanks for clarification.

I'm closing this issue. Please feel free to reopen for further questions.

[2018-10-10 12:03] #8 closed, assigned to keijiro

[2018-10-10 15:03] nicoloserafino commented on #9
Hi keijiro, thank you.
Checking the Player log, I managed to make it work simply changing the architecture target of my Build Settings from x86_64 to Universal.

Anyway the player log is attached for study purposes
"Connection socket refused" because my app needs a required device that is not connected.
[Player.log](https://github.com/keijiro/KlakSyphon/files/2465228/Player.log)

[2018-10-10 15:55] keijiro commented on #9
Thanks for the additional information. Although the root cause is still not clear, I'm happy to hear that the problem was solved on your side.

I'm closing this issue. I'll revisit it when it reproduces in some way.

[2018-10-10 15:55] #9 closed, assigned to keijiro

[2018-10-10 20:19] nicoloserafino commented on #3
@lukasIO try Mad mapper: two Unity cameras streamed trough KlakSyphon, then Mad mapper with to projectors/display/etc

[2018-12-08 16:19] benkuper opened #10 "Receiver (Syphon > Unity)"
Hey Keijiro,
I wonder about the Receiver (like KlakSpout SpoutReceiver) ?
Is there any roadmap for that ?

[2018-12-08 16:22] benkuper commented on #10
Ok my bad, I mistaken with the Funnel project and couldn't see the content of the package when I wrote the issue.. you're the best !

[2018-12-08 16:22] #10 closed, assigned to nobody

[2018-12-13 22:05] makaruk opened #11 "'SyphonClient._targetMaterialProperty' is never assigned to ERROR 2018.3.0f2 <Metal>"
Dear Keijiro,

Thank You for Your continous support of KlaK Syphon.

I wonder if You could help me with this situation:

I'm running a fresh Scene in Unity 2018.3.0f2 <Metal>, on OSX 10.14. I previously had no problems with running Klak Syphon.

When I place the SYphon Server on My Main Camera I get the following error:

`Assets/Klak/Syphon/Runtime/SyphonClient.cs(75,34): warning CS0649: Field 'Sy

[2018-12-14 09:19] keijiro commented on #11
[code]

This is just a warning message emit by the new C# compiler. It doesn't cause anything -- you can simply ignore it. Or you can downgrade the scripting runtime version to .NET 3.5 Equivalent from Player Settings.

I tested it on Unity 2018.3.0f2 but couldn't reproduce.

- Could you check if it can reproduce with a minimal project?
- What happens if you downgrade the scripting runtime version

[2018-12-14 11:43] makaruk commented on #11
Dear Keijiro,

Thank You for Your support.

The problem was in fact the Scripting Runtime Version setting in Unity Project Settings - when I changed the Scripting Runtime Version from **.NET 4.x Equivalent** to **.NET 3.5 Equivalent (Deprecated)** the Klak Syphon Server started working again as normal.

This was the solution to the problem - Thank You very much!!!!

[2018-12-17 01:54] #11 closed, assigned to keijiro

[2019-02-25 21:58] makaruk opened #12 "red screen when switching to High Definition Render Pipeline"
Dear Keijiro,

I'm using the recent version of Klak Syphon with Unity 2018.3.4f1 Metal on OSX 10.14

The Klak Syphon Server works fine on a standard render pipeline, but the moment I swith to either High Definition or Lightweight Render pipeline - the Klak output video stream goes red and generally not much more happens.

Is there any setting I'm unaware of or the sriptable render pipeline is just

[2019-02-26 02:57] keijiro commented on #12
Thank you for reporting the issue. I have seen a similar issue in KlakNDI that only reproduces on macOS/Metal.

https://github.com/keijiro/KlakNDI/issues/20

Before starting detailed investigation, could you provide some additional information?

- Which model of Mac/MacBook are you using?
- What happens if you change GPU to use? You can change it [on the launch menu](https://docs.unity3d.com/uploa

[2019-02-26 03:33] makaruk commented on #12
Dear Keijiro,

Thank You for Your response.

I'm using MacBook Pro Touchbar 15,1 -  32GB RAM, 2018 Edition, 2,2 Ghz i7.

The computer has two GPUs Radeon Pro 555X 4096 MB, Intel UHD Graphics 630 1536 MB and is most definitely using the Radeon upon Launching the Unity Build - as observed in the GPU History of the Activity Monitor.

I cannot switch GPU's upon launch - the option is greyed out - plea

[2019-02-26 04:21] keijiro commented on #12
Thanks for replying. It's a little bit weird that it doesn't allow changing GPU to use. From my understanding, MacBook Pro Touch Bar 15-inch has Radeon Pro GPU. It should be explicitly selectable. Is there any graphics option in the System Preference, like Energy Saver?

[2019-02-26 04:31] makaruk commented on #12
Yes, and I think it is actually using the Radeon. There is a setting in the Energy Saver but it only allows for switching to continous use of Radeon instead of Iris - which in this case makes no difference. I assume the app is using Radeon by looking at the GPU Usage in the activity monitor (please see the screenshots attached).

Kind Regards
<img width="668" alt="screenshot 2019-02-26 at 05 26 07

[2019-02-26 04:48] keijiro commented on #12
Thanks for the detailed clarification. I'll start looking into it based on the information.

[2019-03-30 15:09] OskarGroth commented on #12
I'm having the same issue. Just tried using your https://github.com/keijiro/LwrpVfxTest:

<img width="1614" alt="Skärmavbild 2019-03-30 kl  16 05 17" src="https://user-images.githubusercontent.com/1417019/55277948-31af6c00-5306-11e9-9e81-aa7d47bf2212.png">

<img width="736" alt="Skärmavbild 2019-03-30 kl  16 05 29" src="https://user-images.githubusercontent.com/1417019/55277953-37a54d00-5306-11e

[2019-06-04 13:40] makaruk commented on #12
Dear Keijiro,

I just tested the setup with a MacBook Pro 2018, 2019.2.0b4 <Metal> and Klak Syphon Client on a Lightweight Render Pipeline.

The result of the transmitted video is a red screen in a client software - same as the one described above.

Have You got any hints regarding how could I fix it? Does Klak Syphon support LWRP?

I should also add that I tried most if not all of the player sett

[2019-09-05 16:36] grigM commented on #12
Hello Keijiro!
First of all, thank's for all of yours great works that you make for Unity community!
Everything you do, such a big inspiration for all of us!

But i've got a question.
Is there any way to fix this red screen issue with HDRP render and syphon ?

my specs:
MacBook Pro 2018 with eGPU - RadeonVII
mac os 10.14.6, Unity 2019.2.0f1

Best regards

[2019-09-15 15:32] tomalouette commented on #12
Hi Keijiro,
The same issue for me,
HDPR render making a red screen.

Best

[2019-10-11 21:45] piotrus04 commented on #12
Hi, i also tried to find what is not working correctly in the xcode project but impossible to find any error. The red screen still here.
I monitored both the _servertexture and the blit shader, it doesn't seems neither to be the problem.

[2019-10-21 03:10] sebxliv commented on #12
I'm trying KlakSyphon on Unity 2019.1.2f1 on a MacOS 10. It works perfecto on normal project but on a HDRP I get a black screen.
Anything we can do to debug this! It would be awesome to have it working!

[2019-10-30 07:54] shiyamon opened #13 "Red screen problem with RenderTextureFormat.ARGB32"
Hi, I got the similar problem with other issue. #12

When I send a RenderTexture in the format of RenderTextureFormat.ARGB32, RenderTextureFormat.ARGBHalf or RenderTextureFormat.ARGBFloat, the receiver shows red texture.
RenderTextureFormat.Default is working here.

[2019-10-30 11:36] shiyamon commented on #13
I did further try and it turns out that enabling enableRandomWrite also causes red texture problem.

[2019-11-09 18:16] sebxliv commented on #12
Just made this crypto bounty for anyone that fixes this issue 😀Anyone else wants to contribute too?

[2020-02-19 09:15] tomalouette commented on #12
Hi,
Red screen on the syphon client in HDRP mode.
Any news ?
The only way i found on forum, it's the render texture mode, the camera mode is out.

[2020-04-06 14:10] MrLeap commented on #12
I'm also experiencing this issue. I've spent about an hour seeing if I could yield any more info. So far all I've got is restating what other people have said -- the issue appears to be with SyphonServer in HDRP. ( I encountered this issue with 2019.3.0.f5). It works fine in the pre-SRP 3d renderer.

Frame Debugger makes me think it's not an issue with `Hidden/Klak/Syphon/Blit` or anything obvious

[2020-04-06 14:45] rsodre commented on #12
From the [HDRP docs](https://docs.unity3d.com/Packages/com.unity.render-pipelines.high-definition@8.0/manual/index.html): "HDRP does not support OpenGL or OpenGL ES devices".
Since Syphon relies on OpenGL, I would expect something like that.
Syphon for Metal is already [under development](https://github.com/Syphon/Syphon-Framework/pull/56).

[2020-04-06 15:24] keijiro commented on #12
@rsodre KlakSyphon does support Metal (that's the main aim of the plugin). This issue is a different thing.

[2020-05-01 18:31] olgv commented on #3
@lukasIO you can use Keijiro's [Funnel](https://github.com/keijiro/Funnel) for OpenGL support. Though discontinued (the app window can be glitchy in certain situations but the Syphon output comes clean) is still the only way for now if using it on old MACs that don't support Metal (eg: Mid 2011 hardware).

[2020-06-02 05:48] cruxxxxxx opened #14 "Does not work in RT Mode (Unity 2019.3.2f1)"
Works in Camera Capture mode, but when switching to RT mode, Syphon Server sends empty image. RT looks good on Unity side.

Running Unity 2019.3.2f1 on Mac OSX 10.14.5. Player is set to Metal.

[2020-06-10 18:49] olgv opened #15 "Fuzzy or blurry TextMeshPro content."
I notice al UI TextMeshPro elements are broadcasted blurry.
Changing the texture size when creating a new SDF font seems to affect how Syphon sees it, but no matter what size I try none looks sharp.

Any suggestions appreciated.
Thank you

[2020-06-11 02:32] keijiro commented on #15
Could you provide a screenshot and a minimal project that reproduces the issue?

[2020-06-12 00:14] olgv commented on #15
Funny enough I was trying to replicate it in a clean `2019.4` project and it comes out sharp and as it should be. I will try to isolate parts of the project so I can share this with you.

The setup used was `TMP - Text` (Mesh) and the Canvas as `World Space` ... that was the only way I managed to make the text visible to the Syphon Server.
And I tried generating the TMP tables at different resolut

[2020-06-12 22:55] olgv commented on #15
I found the bug. It relates to the FXAA in the Post Processing Layer.
If I turn it off everything is fine.

![Screenshot 2020-06-12 at 20 04 38](https://user-images.githubusercontent.com/5272004/84542700-8790e980-ace9-11ea-9a2b-5eefbe05b6e0.png)

This persists even without the Syphon Server class attached.
Therefore **not a Syphon bug but a Unity PP & TMP**.

[2020-06-13 04:32] #15 closed, assigned to keijiro

[2020-06-29 03:06] MTB-Yoshida commented on #12
For someone in trouble with this issue.

As I wrote in another topic this issue seems to occur due to the format of RenderTexture. #13
I confirmed that RenderTextureFormat.Default works with Unity2019.4.1f1, HDRP 7.4.1, Metal, macOS 10.15.3.
So in the meantime, I, we, can send the scene RT with Syphon with the following steps.

(in runtime)
- Generate a RenderTexture in a script with a format of R

[2020-06-29 03:08] shiyamon commented on #12
For someone in trouble with this issue.

As I wrote in another topic this issue seems to occur due to the format of RenderTexture. #13
I confirmed that RenderTextureFormat.Default works with Unity2019.4.1f1, HDRP 7.4.1, Metal, macOS 10.15.3.
So in the meantime, I, we, can send the scene RT with Syphon with the following steps.

(in runtime)
- Generate a RenderTexture in a script with a format of R

[2020-08-05 06:36] gmarinosyan commented on #14
Having the same issue with Unity 2020.1.0f1 on MacOS 10.15.5. Empty image is sent when using render texture mode, although the size of the sent image is correct.

[2021-01-15 18:06] sachismo opened #16 "Get Server Names"
I am wondering if there is any implementation in this plugin to get the names of all available servers. I am able to select specific servers by name, but I am wanting to make a GUI that is populated by all available servers. If this is already available I'm not sure how to use it. Is there any tool that can work similar to SpoutManager.GetSourceNames() from your Unity Spout plugin?

Thanks for all

[2021-01-16 01:39] keijiro commented on #16
No, there is no such function.

[2021-01-16 01:39] #16 closed, assigned to keijiro

[2021-02-20 12:41] michaelforrest opened #17 "Doesn't work if multiple servers have the same App and Server Name"
There needs to be a way to access servers by UUID as an app like AirServer has the same names for multiple windows.
![image](https://user-images.githubusercontent.com/9776/108595630-e0d11280-7378-11eb-9287-91bc7901421b.png)

[2021-02-27 13:48] um38s opened #18 "It doesn't work. I want to help."
I ran it according to the contents you uploaded
I got the following error message.
I can't find a solution, so I'm posting content to get help.

DllNotFoundException: KlakSyphon
Klak.Syphon.SyphonServer.Update () (at Assets/Klak/Syphon/Runtime/SyphonServer.cs:99)

[2021-02-27 14:00] keijiro commented on #18
How about running the sample project contained in this repository?

[2021-02-27 14:10] um38s commented on #18
I tried the sample test, but the following error came out.

![캡처_2021_02_27_23_05_57_896](https://user-images.githubusercontent.com/15072212/109389717-e1594280-7950-11eb-83b6-846b9ab24e06.png)

[2021-02-27 14:23] keijiro commented on #18
Windows?

Syphon is an inter-process frame sharing system for **macOS**.

[2021-02-27 14:39] um38s commented on #18
The os I am using is window.
 If so, I wonder if you can't use syphon on Windows.

나의 iPhone에서 보냄

[2021-02-27 14:42] keijiro commented on #18
You can't use Syphon on Windows.

There are some similar systems for Windows, like [Spout](https://spout.zeal.co/).

[2021-02-27 14:43] keijiro commented on #18
I'm closing this issue as "not relevant". Please feel free to reopen it for further problems.

[2021-02-27 14:43] #18 closed, assigned to keijiro

[2021-02-27 14:48] um38s commented on #18
Yes, I understand.  Thank you so much for the explanation.

나의 iPhone에서 보냄

[2021-04-09 02:07] Tongzhou-Yu commented on #13
I have the same problem with Syphon as mentioned by MTB-Yoshida :(

[2021-05-12 15:15] Gabana opened #19 "Does this work with URP?"
Hi,

I tried this plugin in my MacBook Pro (Retina, Mid 2012 - OS Catalina 10.15.5) with Unity 2020.3.4 and it works fine. However, it stopped working when using Universal RP. As soon as i set up a profile in PlayerSetting > Graphics it stopped working.

@keijiro Do you know if it would work with other Render Pipelines apart from the standard (built-in) one? Any ideas why it wouldn't work with URP

[2021-05-13 03:01] keijiro commented on #19
The camera capture mode only supports the legacy (built-in) render pipeline. You have to use the render texture mode when using SRP.

(Add the SyphonServer component to a non-camera game object and feed renders using a RenderTexture)

[2021-05-13 03:01] keijiro commented on #19
I'm closing this issue now. Please feel free to reopen it if the problem still reproduces.

[2021-05-13 08:29] Gabana commented on #19
Hi,

Thanks for the quick reply! I tried both modes with RenderTexture and Camera Capture but none of them worked with URP in Mac. It does work in Windows though...

Any idea about why this would happen or how to fix it?

Thanks!

D

[2021-05-13 08:48] Gabana commented on #19
I found this other library thatworks with URP in Mac. Actually, if you use the VideoOutput (SRP) with your SyphonServer script, it would work fine

https://github.com/anome/Unity-VideoOutput

[2021-07-11 15:05] anyusernameleft opened #20 "Test Project?"
I'm possibly being dumb but I cannot find the Test Project, without which I have no idea where to start with this excellent looking plugin.
I imported the latest Unity Assets bundle but the Test project didn't come with it and I can't find it to download elsewhere.

[2021-07-12 01:14] keijiro commented on #20
This repository contains a test project, so you can clone (or download) the repository and use it as a test project.

This project is not relevant to Asset Bundle. I'm afraid that you're reading something incorrect.

[2021-07-12 01:15] keijiro commented on #20
I'm closing this issue now. Please feel free to reopen it for further problems.

[2021-07-12 01:15] #20 closed, assigned to keijiro

[2021-07-12 01:16] anyusernameleft commented on #20
I cannot find the test project.
Thank you

[2021-07-12 01:19] keijiro commented on #20
This repository itself is the test project directory. You can open it with Unity Editor.

[2021-07-12 01:20] anyusernameleft commented on #20
I can’t find the test project
I have opened the unity package but there is no test scene

[2021-07-12 01:22] anyusernameleft commented on #20
Nor are there any Assets that would indicate a test scene
From your readme with the small images there would appear to be such things but I cannot find them

[2021-07-12 01:22] anyusernameleft commented on #20
I cannot find any explanation as to how this is supposed to work.
Thank you

[2021-07-12 01:37] anyusernameleft commented on #20
I spent hours looking.
There is no test scene in the Unity package to explain how it works.
Despite the graphics on your ReadMe page

[2021-07-12 01:50] anyusernameleft commented on #20
Please explain where the instructions are as to how the plugin works
Thank you very much for all your work

[2021-07-12 01:59] keijiro commented on #20
Do not use the Unity package file. Clone or download the repository.

[2021-07-12 02:04] anyusernameleft commented on #20
I am sorry, I do not understand what you mean.
Thank you

[2021-07-12 02:12] keijiro commented on #20
Use Google "how to download github repository zip"

[2021-08-20 18:58] Gabana commented on #19
Hi @keijiro ,

I am trying to re-open the issue but i cannot since the Owner closed it.

I tried the approach you said: add the SyphonServer component to a non-camera game object and feed renders using a RenderTexture. However, that is not working. I can see that Syphon gets frames and the resolution right, but nothing is displayed, it´s just black. Is there anything else i should try? I am using

[2021-10-01 12:14] eloimaduell commented on #12
hi @shiyamon !

Could you please share your code to solve this issue ?
I'm with OSX 11.5.1 with an AMD Radeon VEGA and Unity 2022.1.0a91212.
I'm trying to get a Syphon texture out of a camera in Unity and what I get is a "red" texture.
I tried your approach but I don't know how to implement the last step, setting the RT to the sourceTexture of the SyphonServer...

Thanks !

[2021-10-01 12:27] eloimaduell commented on #12
(just to mention that I'm on the standard pipeline)

@shiyamon I found a solution... So here it's my code for this script that creates a render texture on Start() and assigns it to the camera and to the SyphonServer.sourceTexture.

[code]

So I created and empty object, added this script, also added the **SyphonServer** script. Then dragged the camera that I want to share via syphon to the **Cam**

[2021-10-21 04:08] griv commented on #12
Thanks this worked for me :)

[2021-11-29 15:03] SteveElbows opened #21 "Version for Apple silicon (M1) and latest macOS?"
Any chance of an updated version?

MacOS Monterey wants to throw the current versions plugin bundle in the bin. I've tried building it myself in xcode, building an apple silicon version so I can use it with silicon version of Unity editor, but I havent succeeded in making a version that works rather than giving me missing dll errors in recent Unity versions.

Thanks.

[2021-11-29 16:29] rsodre commented on #21
At least, you need to build the Syphon framework for arm64 and replace it.
The Syphon notifications have changed recently, maybe Klak need to be updated too.
Not sure if there's anything else to do...
https://github.com/Syphon/Syphon-Framework/

[2021-11-29 23:38] keijiro commented on #21
Just out of curiosity, do you still use Syphon often? If so, which app do you use the most?

Personally, I use Windows in most projects these days, so I'm not sure how Syphon is important. I wonder whether if I should invest more time on this project.

[2021-11-30 00:42] rsodre commented on #21
Mac VJS still use Syphon for everything when working locally.
The exception is NDI, but only when there's a need to send frames to another machine.

[2021-11-30 00:48] keijiro commented on #21
@rsodre Thanks for the valuable input. Could I ask some more questions?

- Do you use the latest version of macOS (Monterey)?
- Do you use M1 Mac for VJing?
- Do you know any VJing app that supports M1 natively?

[2021-11-30 00:49] SteveElbows commented on #21
I know what you mean, but the GPU in the M1 Max 32 core Macbook Pro is really quite good, and I really like the quiet fans too. So I'm really enjoying the mac for realtime graphics again.

I'm using Resolume Avenue (and Wire which is a fun node-based system from Resolume). I've got a 3D fluid Sim (Jos Stam Navier-Stokes type of grid-based sim) in Unity and I'm using Resolume output as 2D textures

[2021-11-30 00:50] SteveElbows commented on #21
Resolume isnt M1 native yet but they are planning proper M1 support in future. Even using Rosetta, performance is really rather good.

Here are someone elses performance test results using same macbook pro that I got: https://resolume.com/forum/viewtopic.php?p=85132#p85132

[2021-11-30 01:00] keijiro commented on #21
@SteveElbows Thanks for the feedback. I have used M1 MBA for a year as a development platform, and recently I ordered M1 Max MBP. So, maybe we're in the same situation. Now I'm building a return-to-mac plan, and I wonder how Syphon works with it.

[2021-11-30 01:11] SteveElbows commented on #21
Its hard for me to say how well Syphon works with it yet, because I didnt get your Syphon plugin working with Unity on this machine, so I need to find another Syphon app to use instead in the meantime to give me better clues about that!

Enjoy your M1 Max when you get it, as a laptop experience its quite great! The variable refresh rate support for the screen is a nice bonus. When they make even m

[2021-11-30 01:13] rsodre commented on #21
As a developer, my strategy has always been to be one release behind, still fully updated. I just upgraded to Big Sur 11.6 so I can install XCode 13 and build for Monterey.

Not yet, but I plan to buy one next year

MadMapper 5 (just released), Blendy Dome VJ (developed by myself)

[2021-11-30 01:25] SteveElbows commented on #21
Here are some early 'programmer art' tests of my setup using NDI instead of Syphon. I didnt have any great Resolume content ready for these tests so the input textures arent animated. And the ones with low framerate are because often I was a bit too greedy by using high volumetric fog settings and fluid sim grid resolution of 256x256x256. I can get 120fps if I use sim res of 128x128x128 and lower

[2021-12-03 21:53] hayeheerten commented on #21
Hey there,
MadMapper 5 is Apple Silicon native and it's a blast as far as I can tell right now. It'd be really nice to have Syphon functionality in Unity on Apple Silicon to use the two in conjunction. I tried NDI, but I think it's not well suited for local texture sharing.
I've got a M1 Max 14" sitting on my lap and I'll definitely VJ with it.

[2021-12-04 03:32] keijiro commented on #21
@hayeheerten That's good to know. I'll try it for testing.

[2021-12-08 16:02] a25df opened #22 "Step by step instructions"
HI,
I can't get this to work and would need some help.
I would like to send syphon from Resolume and map it's output onto a 3d object in unity.

Steps so far:
- open Resolume Avenue and select texture sharing (syphon) as an output
- open Unity 2021.2.5f1
- create a new 3d scene
- Assets > Import Package > Custom Package : Select and import all from KlakSyphon.unitypackage
- Window > Klak > Syphon

[2021-12-09 01:34] keijiro commented on #22
Did you check the sample project?

[2021-12-09 12:10] a25df commented on #22
Hi, thank you for your quick reply!

Yes, if you mean by sample project the "Test.unity" in Assets folder?

It opens couple cameras, particle system, cube and plane. Cube and plane are pink and many objects are missing source textures or target texture.

Test Card Camera's Inspector says "The associated script can not be loaded. etc"

Yesterday I opened the Unity for the fist time, so I'm kind a l

[2021-12-09 13:12] keijiro commented on #22
I haven't used this project for 3 years, so there might be a compatibility issue. Try Unity 2018.1.

[2021-12-09 13:15] a25df commented on #22
Hi, I understand.

I'll give 2018.1. a try,

Thank you!

[2021-12-10 14:12] a25df commented on #22
I tried with the first build of 2018 but I can't make it to work.

When Unity is opening the test project, macOs gives this error popup:
“KlakSyphon.bundle” is damaged and can’t be opened. You should move it to the Bin.

Otherwise all in the project looks like the same as before.

[2021-12-11 03:34] keijiro commented on #22
Did you try cloning the repository with git? I don't recommend using the .zip download link.

[2021-12-14 09:17] a25df commented on #22
Hi,
I cloned the repository with git through terminal.

I'm not able to get anything new to show up. Client cube is white.
In the Resolume I'm able to get unity servers' output to show, but should it be possible to get Resolume output to show up in the 3d texture in Unity? That's what I'm looking for.

Console gives this error:
Metal: Fragment shader missing texture binding at index 0 (_MainTex /

[2021-12-15 02:36] keijiro commented on #22
Did you select a correct server in the SyphonClient component?

[2021-12-15 08:42] a25df commented on #22
Hi,
I was just about to ask what is server, correct, and SyphonClient component when I got it working.

So for objects called Client Cube and Client RT there was "VDMX5" by default in both objects' App Name slot (Inspector>Syphon Client (Script)>App Name). So when you clear that parameter or put, in my case, "Avenue" it shows the output from Resolume. Under App Name slot, there's Server Name which

[2021-12-15 08:44] keijiro commented on #22
I'm closing this issue now. Please feel free to reopen it for further problems.

[2021-12-15 08:44] #22 closed, assigned to keijiro

[2021-12-15 08:54] a25df commented on #22
Well, if I make a new object or import a one, what should I do to get the texture showing up?

I copy pasted the Syphon Client (Script) from one object to the new but texture doesn't show up. Inspectors look like identical.

[2021-12-15 08:57] keijiro commented on #22
Could you try editing the properties manually (not by copy-paste)? I wonder if it's an issue with the Inspector code.

[2021-12-15 09:29] a25df commented on #22
Ok, so it was as easy as just list all materials and drag and drop the correct material on to the object. I don't know how to start from an empty scene, though.

[2021-12-15 09:37] keijiro commented on #22
I can't speak English, so it's hard to understand the last reply correctly. My understanding is that you don't know how to use Unity, and it's not relevant to this project.

[2021-12-15 09:49] a25df commented on #22
I just try to figure out the logic behind the material. But you are right, tutorials will help me with that.

Thanks.

[2021-12-20 16:14] Makimono commented on #21
+1, we also use Syphon on a regular basis and would very much appreciate an updated version of the plugin for Apple Silicon! Our team uses Syphon with Touchdesigner, Mad Mapper, Resolume, Isadora and our own app Tagtool, among others.

[2022-01-26 20:55] sachismo commented on #21
+1 on this tool!! Syphon is alive and well once again for live visuals

Would be willing to pay a bounty for this + the ability to get the list of available servers on Unity :)

[2022-02-03 14:34] vadimkrutovlv commented on #21
+1 I would also like to have this plugin working with Apple Silicon chips and Monterey.

[2022-02-04 09:02] keijiro commented on #21
Apple silicon support was added in 0.0.4.

[2022-02-04 09:02] #21 closed, assigned to keijiro

[2022-02-04 09:04] keijiro commented on #3
I'm closing this issue now. Please reopen it for further problems.

[2022-02-04 09:04] #3 closed, assigned to keijiro

[2022-02-04 20:48] sachismo opened #23 "Syphon Client freezes on M1 Mac"
Hello and thanks as always for the latest update and your prolific work!! The server list functionality and silicon servers are working flawlessly for me!

I do still have an issue when connecting a client to a server from **Resolume Arena**  This is a very popular application in the live visuals world, but still currently runs under Rosetta.  If i build a client for silicon target it will crash w

[2022-02-07 07:08] keijiro commented on #23
It seem that the client component freezes at `GetNativeTexturePtr` for an unknown reason. It means that the issue may be on Unity's side.

I'll try reproduce the issue and submit a bug report about it.

[2022-02-07 15:08] sachismo commented on #23
Gotcha. Thanks for looking into it!

The intel (rosetta) build is still working flawlessly with very low overhead on an M1 Pro Macbook with the latest OS 12.2 :)

[2022-02-09 05:23] keijiro commented on #23
It turned out to be more general issue with the Unity Metal implementation. It even reproduces without Syphon.

I filed a bug report about it. I'd like to wait for a response from QA/R&D.

Unfortunately, there is no instant solution/workaround about this issue. I'd recommend using Rosetta until I get a solution.

[2022-05-06 10:01] ylevtov commented on #23
Hi @keijiro - do you have a link to the bug report you submitted directly with Unity so we can track the progress? Thanks!

[2022-05-06 10:43] keijiro commented on #23
@ylevtov Here it is: https://issuetracker.unity3d.com/issues/m1-editor-slash-player-freezes-when-calling-getnativetextureptr

[2022-06-03 17:33] kristen-movares opened #24 "Will this plugin get support for Windows?"
If ever will windows support get added to this?

[2022-06-04 08:08] keijiro commented on #24
Syphon is a basically a wrapper of macOS interprocess APIs. You can use Spout on Windows instead.

https://github.com/keijiro/KlakSpout

[2022-06-04 08:08] #24 closed, assigned to keijiro

[2022-06-08 07:58] MissCalculated commented on #19
I'm also having trouble getting the render texture to work. I use a Macbook Pro M1 on Monterey. I tried it using 2021.3.2f1 intel and 2021.3.4f1 silicon.

The object with the render texture attached shows the camera output correctly in the editor and while playing. That object shows up as an available camera in my Syphon client while playing, however it only shows a black screen in the client.

Th

[2022-06-08 08:22] keijiro commented on #19
Regarding M1 Mac, there is another issue #23 on Unity's side. That's why I can't actively work on it.

[2022-06-08 20:10] MissCalculated commented on #19
Thanks for your response :) I just read the material at your link.

I am happy to use the Intel/Rosetta version of Unity for now. Do you think there's a way I can get the render texture method to work if I stick with Rosetta?

[2022-07-17 02:31] MissCalculated commented on #19
@keijiro btw this fixed it for me:

https://github.com/noir-neo/KlakSyphon/commit/16aca762f2c05ff62cb809e4f9e2b88d2f740707